{% extends "site/base.html" %}

{% block content %}
<h2>Aurora Virtual</h2>

<p>Información sobre este sitio :)</p>

<h3>Autor</h3>

<p>Aquí información sobre mí ;)</p>

<h3>Publicaciones</h3>

<p>Aquí menciono un par de papers que hacen uso de la tecnología :)</p>

<h3>Herramientas</h3>

    <ul>
    <li>django</li>
    <li>IPython</li>
    <li>gensim</li>
    <li>scikit-learn</li>
    <li>scipy</li>
    <li>numpy</li>
    <li>d3.js</li>
    <li>tweepy</li>
    <li>tweetstream</li>
    <li>pandas</li>
    <li>seaborn</li>
    <li>matplotlib</li>
    </ul>
{% endblock %}