Django==1.9.2
PyJWT==1.4.0
boto==2.39.0
bz2file==0.98
cytoolz==0.7.5
decorator==4.0.9
defusedxml==0.4.1
gensim==0.12.4
httpretty==0.8.10
langid==1.1.5
networkx==1.11
numpy==1.10.4
oauthlib==1.0.3
pandas==0.17.1
psycopg2==2.6.1
python-dateutil==2.4.2
python-social-auth==0.2.14
python3-openid==3.0.9
pytz==2015.7
regex==2016.01.10
requests==2.8.1
requests-oauthlib==0.6.0
scipy==0.17.0
six==1.10.0
smart-open==1.3.2
tweepy==3.5.0
ua-parser==0.6.1
ujson==1.35
user-agents==1.0.1
