<div id="about-modal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Acerca De "La Aurora Twittera"</h4>
      </div>
      <div class="modal-body">

  <div class="alert alert-info">
  <p><strong>¿Qué es la Aurora Twittera?</strong></p>
  <p>La Aurora Twittera es parte de la investigación doctoral de <a href="http://twitter.com/carnby" target="_blank"><span class="glyphicon glyphicon-user"></span> Eduardo Graells-Garrido</a>. Consiste en un proyecto donde realizamos análisis del contenido publicado
        por chilenas y chilenos en Twitter, con la idea de facilitar el acceso a información con diversidad geográfica, un problema que afecta a Chile debido
        a la centralización geográfica de nuestro país hacia la capital, Santiago.</p>
  </div>

  <div class="alert alert-success">
  <p><strong>¿Cómo funciona?</strong></p>

  <p>Constantemente estamos recolectando <i>tweets</i>, y cada 30 minutos elegimos un conjunto de ellos para presentar en nuestro <strong>resumen informativo</strong>. La idea principal es mostrar tweets que son
  publicados desde todas las regiones de Chile. <strong>La popularidad de un tweet no basta</strong> puesto que, habiendo muchos más twitteros y twitteras en Santiago, los tweets más populares
  tienden a ser <i>santiaguinos</i>.</p>
  </div>

  <div class="alert alert-warning">
  <p><strong>Otras consideraciones</strong></p>
  <p>Al ser parte de una investigación doctoral necesitamos saber un poco sobre quienes usan el sistema. Es importante mencionar que <strong>NO almacenamos información
  privada</strong>, solamente de interacción con la herramienta y la información que cada participante ha entregado voluntariamente.
  Esta información no es compartida con terceros.</p>
  </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->