<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>La Aurora Twittera de Chile</title>
</head>
<body>

<h1>La Aurora Twittera de Chile</h1>

<h2>¿Qué es la Aurora Twittera?</h2>
<p>La Aurora Twittera es parte de la investigación doctoral de <a href="http://twitter.com/carnby" target="_blank"><span class="glyphicon glyphicon-user"></span> Eduardo Graells-Garrido</a>. Consiste en un proyecto donde realizamos análisis del contenido publicado
    por chilenas y chilenos en Twitter, con la idea de facilitar el acceso a información con diversidad geográfica, un problema que afecta a Chile debido
    a la centralización geográfica de nuestro país hacia la capital, Santiago.</p>


<h2>¿Cómo funciona?</h2>

<p>Constantemente estamos recolectando <i>tweets</i>, y cada 30 minutos elegimos un conjunto de ellos para presentar en nuestro <strong>resumen informativo</strong>. La idea principal es mostrar tweets que son
publicados desde todas las regiones de Chile. <strong>La popularidad de un tweet no basta</strong> puesto que, habiendo muchos más twitteros y twitteras en Santiago, los tweets más populares
tienden a ser <i>santiaguinos</i>.</p>

<h2>Otras consideraciones</h2>
<p>Al ser parte de una investigación doctoral necesitamos saber un poco sobre quienes usan el sistema. Es importante mencionar que <strong>NO almacenamos información
privada</strong>, solamente de interacción con la herramienta y la información que cada participante ha entregado voluntariamente.
Esta información no es compartida con terceros.</p>


</body>
</html>